body {
  font-family: 'Manrope', sans-serif;
}
body {
  font-family: 'Manrope', sans-serif;
}

header {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
}

header .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

header .navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header .nav-link {
  color: white;
  margin-left: 20px;
}

header .nav-link:hover {
  color: #ddd;
}
